
body {
    font-family: sans-serif;
    background-color: #fff;
}

header h2 {
    color: rgba(255, 0, 0, 0.814);
    font-weight: 900;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
   display: flex;
   gap: 30px;
   padding: 20px 40px; 
   
}
header nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: 0.3s;
    
}
header nav a:hover {
    color: #d50527;
    padding-left: 20px;
}

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    margin-right: -20px;
}

main img {
    height: auto;
    
    width: 1100px;
}

main div {
    margin: 80px;
    
}

h1 {
   font-weight: 900;
   font-size: 40px;
   text-align: center;
   margin-top: 90px;
}

main div button {
    color: #fff;
    background-color: #d50527;
    border: rgba(255, 0, 0, 0.751);
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: 900;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 70px;
    text-align: center;
    padding: 20px;
}


section .box {
    max-width: 400px;
    border: rgba(245, 245, 245, 0.449) solid;
    background-color: rgba(245, 245, 245, 0.449) ;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

section div h3 {
    color: #f4052d;
    font-weight: 800;
}



article {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 100px;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 80px;

}

article .card {
  background-color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  text-align: center;
  border-radius: 20px;
  
}

article div img {
    width: 370px;
    height: 200px;
    object-fit: cover;
    display: block;

}
.card-body {
    padding: 20px;
    margin: 0;
}

article div h3 {
    color: #e6042ae9;
    font-weight: 900;
}

article .section-tittle {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0;
    margin-top: 10px;
} 


form h2 {
    text-align: center;
    font-weight: 750;
}
form {
    max-width: 420px;
    margin: 40px auto;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top: 90px;
}

form label {
    font-weight: 700;
}

form input {
   padding: 15px;
}

form select {
    padding: 15px 1px;
}

form textarea {
    padding: 35px 10px;
}

form button {
    color: #fff;
    background-color: #d50527;
    border: #d50527;
    font-weight: 900;
    padding: 20px 40px;
    border-radius: 30px;
    margin-top: 20px;
}


footer {
  background: #0f0f0f;
  color: white;
  padding: 10px 90px;
  margin: -10px;
}

footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 10px;
    padding: 30px 300px;
}

footer nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 8px;
    font-weight: 600;
    transition: 0.3s;
    
}

footer nav a:hover {
    color: #d50527;
    padding-left: 6px;
}

footer h2 {
    color: #d50527;
    font-weight: 600;
   
}


footer .select {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 20px;
  background-color: plum;
}

